.button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  background-color: @bg-green;
  font-family: @oswald;
  width: 280px;
  padding-top: 12px;
  padding-bottom: 11px;
  text-align: center;
  margin: 0 auto;
}

.button--program-calculator {
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 18px;
}

.button--catalog-list {
  margin-bottom: 25px;
}

.button--plus-button {
  width: 31px;
  height: 31px;
  background: url("../img/plus-mobile-svg.svg");
  opacity: 0.2;
  border-color: transparent;
  margin-top: 23px;
  margin-bottom: 25px;
}

.button--show-all {
  background-color: @bg-wgrey;
  margin-bottom: 24px;
  color: @text-grey;
}

@media (min-width: @tablet-width) {
  .button:not(.button--plus-button) {
    width: 249px;
  }

  .button--plus-button {
    width: 61px;
    height: 61px;
    margin-top: 55px;
    margin-bottom: 50px;
    background: url("../img/plus-svg.svg");
  }

  .button--program-calculator {
    display: none;
  }

  .button--show-all {
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .button--program-calculator {
    display: none;
  }

  .button:not(.button--plus-button):not(.presentation--program-calculator) {
    width: 169px;
  }
}
