.button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  background-color: @bg-green;
  font-family: "Oswald";
  width: 280px;
  padding-top: 12px;
  padding-bottom: 11px;
  text-align: center;
  margin: 0 auto;
}

.button--program-calculator {
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 18px;
}

.button--catalog-list {
  margin-bottom: 25px;
}

.button--plus-button {
  width: 31px;
  height: 31px;
  background: url("../img/plus-mobile-svg.svg");
  object-fit: contain;
  opacity: 0.2;
  border-color: transparent;
  margin-top: 23px;
  margin-bottom: 25px;
}

.button--show-all {
  background-color: @bg-wgrey;
  margin-bottom: 24px;
  color: @text-grey;
}
