.button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  background-color: @bg-green;
  font-family: "Oswald";
  width: 280px;
  padding-top: 12px;
  padding-bottom: 11px;
  text-align: center;
  margin: 0 auto;
}
