.copyright {
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-top: 21px;
  margin-bottom: 22px;
}

.copyright__header {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  margin-right: 141px;
}

.copyright__link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: @tablet-width) {
  .copyright {
    margin: 0;
    margin-right: 2.9%;
  }

  .copyright__header {
    margin: 0;
    margin-right: 23px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    margin-right: 7.65%;
  }
}
