.partnership {
  min-height: 476px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 31px;
  background: url('../img/map-pin-png-50.png') no-repeat 50% 56%,
  url('../img/map.jpg') no-repeat 50% 100%;


}

.partnership-invitation {
  margin: 0;
  font-family: 'Oswald';
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 20px;
}

.partnership-adress {
  font-style: normal;
  line-height: 20px;
}

